# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


.idea/.name
.DS_Store
.idea/compiler.xml
.idea/libraries/Maven__io_reactivex_rxjava_1_3_4.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
rx-nico.iml
rxnico.iml
rxnico/.idea/workspace.xml